.map-responsive{

    position:relative;

}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#map_screen > .row {
    min-height: 100vh;
}

.flex-fill {
    flex:1 1 auto;
}
