.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-deck {
  flex-wrap: wrap;
}

.navbar-nav{
  color: #101726
}

footer {
  color: #D9BBA9;
  }

.footer-text {
  color: #D9BBA9;
}

