{% extends 'base.html' %}
{% block title %}Work Travel Co-Living Home{% endblock %}

{% block body %}
  <h2>Our Story</h2>
  <p> Innsite was founded in 2022 to serve a new segment of location flexible professionals looking to integrate their life and their work. From the simple seed of an idea - to live and work in beautiful locations surrounded by interesting people - Innsite was born.</p>

  <h2>Our Mission</h2>
  <p> Our mission is to create a world where everyone can design and live their best lives, with the freedom to live and work anywhere.</p>

  <h2>Our People</h2>
  <p> Innsite is rooted in a diverse and global community, using the remote work revolution to define a new way of life.</p>

  <h2>Our Places</h2>
  <h2>Our Planet</h2>
  <h2>Our Team</h2>

{% endblock %}