<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel='icon' href='/static/img/logo/Favicon_2.png' type='image/x-icon' sizes="16x16" />
    <link rel="mask-icon" href="/static/img/logo/Favicon_2.png/images/safari-pinned-tab.svg?v=M44lzPylqQ">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #D9BBA9;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/static/img/logo/Innsite_logo.png" alt="" width="110" height="22">
            </a>
            <div class="collapse navbar-collapse nav-buttons-2020 desktop">
                <div class="navbar-nav">
                  <a class="navigation-link-2022 big w-nav-link" href="/about">What is Innsite?</a>
                </div>
                <div class="navbar-nav">
                    <a class="navigation-link-2022 big w-nav-link" href="/locations"> <img class="navigation-link-2022 all-locations">Locations</a>
                </div>
                <div class="navbar-nav">
                  <a class="navigation-link-2022 big w-nav-link" href="/book-now"> <img class="navigation-link-2022 book-now">Book Now</a>
              </div>
              <div class="navbar-nav">
                {% if 'email' in session %}
                <a class="navigation-link-2022 big w-nav-link" href="/profile"> <img class="navigation-link-2022 log-in">Hi, {{session['fname']}}</a>
                {% else %}
                <a class="navigation-link-2022 big w-nav-link" href="/login"> <img class="navigation-link-2022 log-in">Log In</a>
                {% endif %}
              </div>
              <div class="navbar-nav">
                <a href="https://app.outsite.co/membership/apply/plan" class="navigation-button two-layer-nav w-button">Become a Member</a>
              </div>
            </div>
        </div>
    </nav>
    <div class = 'container'>
      <!-- my flash messages -->
      {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
      {% endfor %}

      {% block body %}{% endblock %}

      {% block after_body %}{% endblock %}
    </div>
    <div class="container-fluid" style="background-color: #101726;">
      <footer class="py-5">
        <div class="row">
          <div class="col-2 offset-1 footer-text" id= "footer-text">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>

          <div class="col-2" id= "footer-text" >
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>

          <div class="col-2" id= "footer-text">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>

          <div class="col-4" id= "footer-text">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of whats new and exciting from us.</p>
              <div class="d-flex w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">name@gmail.com</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="name@email.com">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4">
          <p>© 2021 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>