{% extends 'base.html' %}

{% block title %}Book Now{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>

{% endblock %}

{% block body %}

<h1>Book a Location</h1>
<h2>See our locations around the world:</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <ul>
        {% for location in locations %}
          <li><a href="locations/{{location.location_id}}">{{location.location_title}}</a> </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-6">
        <div id="map" style="width: 50%; height: 100%; position: absolute;"></div>
        <section class="map">
           <div id="map"></div>
        </section>
    </div>
  </div>
</div>



<script src="/static/js/map.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3t5lwEwEzadf_PcWOSyo6YdVlnT73Nfw&callback=initMap">
</script>
{% endblock %}
