{% extends 'base.html' %}

{% block title %}Book Now{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <link rel="stylesheet" href="/static/css/site.css"/>

{% endblock %}

{% block body %}
<section class="map">
  <div id="map"></div>
</section>

<div class="container">

  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <h1>Choose your destination.</h1>
  <p>Discover Innsite Spaces in urban, coastal or alpine locations around the world.</p>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>

  <div class="row row-cols-1 row-cols-md-1 g-4">
     {% for location in locations %}
     <div class="card border-0" style="width: 18rem;">
        <img src="{{location.img}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{location.location_title}}</h5>
        <a href="locations/{{location.location_id}}" class="stretched-link"></a>
        </div>
     </div>
     {% endfor %}
  </div>
</div>





<!-- <div class="container">
  <div class="row">
    {% for location in locations %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{location.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{location.location_title}}</h5>
          <a href="/locations">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col">

    </div>
  </div>
</div> -->












<script src="/static/js/map.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3t5lwEwEzadf_PcWOSyo6YdVlnT73Nfw&callback=initMap">
</script>
{% endblock %}
