{% extends 'base.html' %}

{% block title %}{{ location.location_title }} - Details{% endblock %}

{% block body %}
<form id = "book-form" method="post" action = "/book-now">
  <fieldset>
    <!-- need the format to be like global_date_format = "%m-%d-%Y"  -->
    <div>
      <label for = "arrival">Arrival Date:</label>
      <input type="text" name="arrival" id = "arrival">
    </div>

    <div>
      <label for = "departure">Departure Date:</label>
      <input type="text" name="departure" id = "departure">
    </div>

    <div>
      <label for="location">Location:</label>
      <select name ="location" id = "location">
          <option value = "{{location.location_title}}">{{location.location_title}}</option>
      </select>
    </div>

    <button id = "book-now" type = "button" value = 'book-now'> Book Now </button>

  </fieldset>
</form>

<h1>{{ location.location_title }}</h1>

<p>
  {{ location.overview }}
</p>
<img src = {{location.img}}>

<p>
  {% for amenity in location.amenities %}
   <li>{{ amenity.amenity_title }}</li>
  {% endfor %}
</p>

<a href = '/locations'> See all Locations </a>


{% endblock %}