{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block body %}
<div class="page-wrapper">
  <div class="home-banner-section wf-section">
    <div class="w-layout-grid banner-grid">
      <div id="w-node-d52a46ce-0d31-e1b0-01db-283ed97addc6-4d35f4d9" class="hero-2020-text-block">
        <h1>Create an Account</h1>
        <p>Creating a free account allows you to view Spaces, Availability, Prices and Innsite Membership options.</p>
        <form action="/create-account" method="POST" enctype="multipart/form-data">
          <h4>
            First Name <input type="text" name="fname">
          </h4>

          <h4>
            Last <input type="text" name="lname">
          </h4>

          <h4>
            Email <input type="text" name="email">
          </h4>

          <h4>
            Password <input type="password" name="password">
          </h4>

          <h4>Profile Photo <span class="placeholder col-12"></span><input type= "file" name= "my-file"></h4>
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
          <input class="btn btn-rounded innsite-button-green" type="submit">
        </form>
      </div>
      <div class="login-banner-image"></div>
    </div>
  </div>
</div>
  {% endblock %}